* {
    box-sizing: border-box;
  }
body{
  margin:0;
}
html{
  background: url("../img/wolf.jpg") no-repeat center center fixed;
  
}

a:hover{
    color:blue;
    font-weight: bold;
}
a{
    text-decoration: none;
    align-content: center;
    color:black;
}
p{
    font-size: 30px;
    text-align: center;
    align-content: center;
}
.box {
  width: 40%;
  height: 200px;
  background: orange;
  border-radius: 2px;
  padding: 10px;
  color: black;
  text-align: right;
}

.a{
    margin: 70vh 0 0 auto;
}
  
.b{
    margin: 40vh 0 0 0;
    
}
header{
    margin:auto;
    width:40%;
    height: 200px;
    background: orange;
    border-radius: 2px;
    padding: 10px;
    color: black;
    background-position: center top;
   
    
    
}
.footer{
    background:orange;
    margin:auto;
    width: 30%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    
    
}
.footer p{
   
    text-align: center;
    
}
 

